.App {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: rgb(156, 155, 49);
  font-family: "Dancing Script", cursive;
}

.App2 {
  margin: auto;
  width: 90%;
  border: 3px solid rgb(11, 202, 11);
  padding: 10px;
  background-color: rgba(24, 212, 197, 0.575);
  font-family: "Dancing Script", cursive;
  font-size: medium;
}

.books-list ul {
  padding: 0;
  list-style-type: none;
}

.books-list li {
  background: rgba(172, 255, 47, 0.596);
  background-color: rgba(172, 255, 47, 0.596);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.books-list li:hover {
  opacity: 0.75;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  margin: 10px 0;
}

.books-list2 ul {
  padding: 0;
  list-style-type: none;
}

.books-list2 li {
  background: rgba(12, 226, 226, 0.342);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.form form {
  padding: 20px;
}

.form input[type="text"] {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: white;
  color: black;
  border: 0;
  width: 70%;
}

.form input[type="submit"] {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 45px;
  background: rgba(187, 54, 54, 0.63);
  color: white;
  border: 0;
  width: 20%;
}

.form input[type="submit"]:hover {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 45;
  background: rgba(79, 212, 113, 0.63);
  color: white;
  border: 0;
  width: 20%;
}
